<!DOCTYPE html>
<!--/* 동적페이지 작성시 생성한 layout 적용 */-->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">

	<!--/* 적용된 layout 기준으로 추가할 태그를 작성 head 영역 추가시 head태그 작성후 자식노드 삽입 */-->
	<head>
		<meta name="description" content="한국스마트정보교육원"/>
	</head>
	
	<!-- 작성된 layout에 추가할 영역(th:block layout:fragment) 작성후 추가할 자식노드 삽입 -->
	<th:block layout:fragment="contents">
		<div class="content-header">
           <div>
               <h2 class="content-title card-title">메인화면</h2>
               <p>ks-59 관리자 페이지</p>
           </div>
       	</div>
	</th:block>
	
	
</html>











