<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}">
	
	<head>
		<meta name="description" content="한국스마트정보교육원 ksmybatis" />
	</head>
	
	<th:block layout:fragment="jsScript">
		<script type="text/javascript">
			
			// 상품등록
			$('#addProductBtn').click(e => {
				// 태그가 가지고 있는 기본동작 중단
				e.preventDefault();
				
				const $formData = $('#addProductForm').find('input, select');
				
				let isSubmit = true;
				$formData.each((idx, elem) => {
					const value = $(elem).val();
					if(!value){
						alert('필수 입력항목입니다.');
						isSubmit = false;
						$(elem).focus();
						return false;
					}
				});
				
				if(isSubmit) $('#addProductForm').submit();
				
			});
		</script>
	</th:block>
	
	<!-- 추가할 페이지 contents -->
	<th:block layout:fragment="contents">
		<div class="content-header">
			<div>
				<h2 class="content-title card-title">상품등록</h2>
			</div>
		</div>
        <div class="card mb-4 row col-lg-6">
        	<form id="addProductForm" th:action="@{/product/addProduct}" method="post">
	            <header class="card-header">
	                <div class="row gx-5 justify-content-end">
	                    <div class="col-lg-5 ms-auto d-flex justify-content-between">
	                        <button type="submit" id="addProductBtn" class="btn btn-success text-white">상품등록</button>
	                        <button type="reset" id="resetBtn" class="btn btn-warning text-white">등록취소</button>
	                    </div>
	                </div>
	            </header>
	            <!-- card-header end// -->
	            <div class="card-body">
	                <div class="row">
	                    <div class="col-md-4">
	                        <h6 class="fs-5">1. 필수입력항목</h6>
	                    </div>
	                    <div class="col-md-8">
	                    	<div class="row mb-4">	         
	                        	<div class="row align-items-end">
	                        		<div class="col-md-12">		                        		
			                            <label class="form-label fs-6 fw-bold">상품명</label>
				                        <input type="text" placeholder="상품명을 입력해주세요" class="form-control"
				                        	   id="productName" name="productName">
	                        		</div>
	                        	</div>
	                    	</div>
	                    	<div class="row mb-4">	         
	                        	<div class="row align-items-end">
	                        		<div class="col-md-12">		                        		
			                            <label class="form-label fs-6 fw-bold">거래처</label>
			                            <select class="form-select text-center" id="vendorCode" name="vendorCode">
			                                <option value=""> === 거래처을 선택해주세요 === </option>
			                                <option th:if="${not #lists.isEmpty(vendorList)}"
			                                		th:each="l : ${vendorList}"
			                                		th:value="${l.vendorCode}"
			                                		th:text="${l.vendorName}">
			                                </option>
			                            </select>
	                        		</div>
	                        	</div>
	                    	</div>
	                    	<div class="row mb-4">	         
	                        	<div class="row align-items-end">
	                        		<div class="col-md-12">		                        		
			                            <label class="form-label fs-6 fw-bold">상품가격</label>
				                        <input type="number" placeholder="상품가격을 입력해주세요" class="form-control"
				                        	   id="productUnitPrice" name="productUnitPrice">
	                        		</div>
	                        	</div>
	                    	</div>
	                    </div> <!-- col.// -->
	                </div>
	            </div>
        	</form>
            <!-- card-body end// -->
        </div>
	</th:block>

</html>










